*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    height: 32rem;
    width: 20rem;
    border-radius: 1rem;
    background: linear-gradient(140deg, rgb(163, 163, 163), 
    rgb(187, 187, 187), rgb(229, 229, 229), 
    rgb(240, 239, 239));
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.278);
    padding-bottom: 2rem;
}

.sezione1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.utente{
    display: flex;
    justify-content: flex-start
}

picture{
    background-color: white;
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
}

.data{
    color: white;
}

.uil-ellipsis-h::before{
    font-size: 2rem;
}

.gatto-mario-rossi{
    background-image: url("./assets/mario-rossi.png");
    background-size: 20rem;
    height: 58%;
    width: 100%;
    background-repeat: no-repeat;
}

.interazioni{
    padding-left: 1rem;
    display: flex;
    gap: 0.5rem;
}

.uil-heart, .uil-comment{
    font-size: 1.3rem;
}

.descrizione{
    padding: 0.5rem;
    
}

.gatto-elis-miao{
    background-image: url("./assets/elis-miao.png");
    background-size: 20rem;
    height: 58%;
    width: 100%;
    background-repeat: no-repeat;
}

.gatto-gattino-micino{
    background-image: url("./assets/gattino-micino.png");
    background-size: 20rem;
    height: 58%;
    width: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    body {
        display: grid;
        grid-template-columns: repeat(2,1fr);
}
}

@media screen and (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column
    }
}
